/* 定义变量 */
a{
    color: black;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
}

/* 头部块 */
.wjs_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
.row{
    text-align: center;
    height: 100%;
    > div:nth-of-type(-n+3){
        border-right: 1px solid #ccc;
    }
    .wjs_code{
        // position: relative;
        > img{
            position: absolute;
            display: none;
            z-index: 999;
        }
        &:hover{
            > img{
                display: block;
                z-index: 999;
            }
        }
    }

    .btn-danger{
        background: red;
        border: 1px solid red;
        outline: none;

    }
    .btn{
        padding: 4px 15px;
        outline: none;
    }
    .btn-link{
        color: #444;
        &:hover{
            text-decoration: none;
            outline: none;
        }
    }
}

/* 导航块 */
.wjs_nav{
    .navbar-brand{
        height: 80px;
        line-height: 50px;
        font-size: 40px;
    }
    .navbar-toggle{
        margin-top: 23px;
    }
    .navbar-nav{
        >li{
            >a{
                font-size: 16px;
                line-height: 50px;
                color: #555;
            }
            >a:hover,a:focus{
                color: #555;
                border-bottom: 3px solid red;
            }
        }
        .active{
            >a,a:hover,a:focus{
                background: transparent;
                border-bottom: 3px solid red;
            }
        }
    }
}

/* 轮播图 */
.wjs_banner{
  border: 0px;
}
// 移动端
@media screen and (max-width:767px)
{
    .item-img{
        width: 100%;
        display: block;
        >img{
            width: 100%;
            display: block;
         }
    }
}
// 非移动端
@media screen and (min-width:767px)
{
    .item-img{
        width: 100%;
        height: 410px;
        display: block;
        // 背景图片居中显示
        background-position: center center;
        // 背景图片大小
        background-size: cover;
    }
}