/* 定义变量 */
a {
  color: black;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
.wjs_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.row {
  text-align: center;
  height: 100%;
}
.row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.row .wjs_code > img {
  position: absolute;
  display: none;
}
.row .wjs_code:hover > img {
  display: block;
}
.row .btn-danger {
  background: red;
  border: 1px solid red;
  outline: none;
}
.row .btn {
  padding: 4px 15px;
  outline: none;
}
.row .btn-link {
  color: #444;
}
.row .btn-link:hover {
  text-decoration: none;
  outline: none;
}
