<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id='app'>
        <h1>app-num1：{{num1}}</h1>
        <h1>app-num2：{{num2}}</h1>
        <hr>
        <cpn :number1 = num1 :number2 = num2 
        @num1-change='num1Change'
        @num2-change='num2Change'
        ></cpn>
    </div>


    <template id='cpn'>
        <div>
            <h1>cpn-props：{{number1}}</h1>
            <h1>cpn-data：{{dnumber1}}</h1>
            <input type="text" v-model='dnumber1' @input='num1Input'>
            <h1>cpn-props：{{number2}}</h1>
            <h1>cpn-data：{{dnumber2}}</h1>
            <input type="text" v-model='dnumber2' @input='num2Input'>
        </div>
    </template>
    <script src="vue.js"></script>
    
    <script>


        const app = new Vue({
            el: '#app',
            data: {
                num1: 0,
                num2: 1,
            },
            methods: {
                num1Change(value) {
                    this.num1 = parseInt(value);
                },
                num2Change(value) {
                    this.num2 = parseInt(value)
                }
            },
            components: {
                cpn: {
                    template: '#cpn',
                    props: {
                        number1: {
                            type:Number,
                            defalut:1,
                        },
                        number2: {
                            type:Number,
                            default:2,
                        }
                    },
                    data() {
                        return {
                            dnumber1: this.number1,
                            dnumber2: this.number2,
                        }
                    },
                    methods: {
                        num1Input() {
                            this.$emit('num1-change',this.dnumber1);
                        },
                        num2Input() {
                            this.$emit('num2-change',this.dnumber2);
                        }
                    }
                }
            },
        })
    </script>
</body>
</html>