<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sty1 {
            text-shadow: 1px 1px 3px blue;
        }
        .sty2 {
            color: red;
        }
        body {
            height: 10000px;
        }
    </style>
</head>
<body>
    <div id='app'>
        <ul>
            <li v-for='item in lis'>{{item}}</li>
        </ul>
            <h1>计数器：{{num}}</h1>
            <button @click='add()'>+</button>
            <button @click='sub()'>-</button>

            <h2 :class="{sty1:issty1, sty2:issty2}">{{message}}</h2>
            <button @click='changesty()'>按钮</button>

            <h2 :style="{'color':iscolor,background:isbackground}">message</h2>
            <hr>
            <label for="user" v-if='isgogo'>
                <input type="text" name="" id="user" placeholder="请输入账户">
            </label>
            <label for="email" v-else>
                <input type="text" name="" id="email" placeholder="请输入邮箱">
            </label>

            <button @click='isgo'>切换类型</button>
            <hr>
            <input type="text" v-model='message1'>
            {{message1}}
            <hr>
            <label for="man">
                <input type="radio" id="man" v-model='sex' value="男">男
            </label>
            <label for="woman">
                <input type="radio" id="woman" v-model='sex' value="女">女
            </label>  您的性别是：{{sex}}
            <hr>
            <label for="ball1">
                <input type="checkbox" value="篮球" id="ball1" v-model='ball'>篮球
            </label>
            <label for="ball2">
                <input type="checkbox" value="足球" id="ball2" v-model='ball'>足球
            </label>
            <label for="ball3">
                <input type="checkbox" value="乒乓球" id="ball3" v-model='ball'>乒乓球
            </label>  您的选择有：{{ball}}
            <hr>

            <cpn1>
                <span slot='slot1'>
                    <h1>我是标题1111</h1>
                    <h4>我是内容111</h4>
                </span>
            </cpn1>
            <cpn1>
                <span slot='slot1'>
                    <h1>我是标题22222</h1>
                    <h4>我是内容2222</h4>
                </span>
            </cpn1>
            <hr>
            <cpn2></cpn2>
            <cpn2></cpn2>
            <cpn2></cpn2>
            <cpn2></cpn2>
            <hr>
            <cpn3 :cbooks='books' @cpn-click='cpnClick'></cpn3>
            <hr>
            <cpn4 ref='ref1'></cpn4>
            <button @click='parCha'>父访问子</button>
            <h1>父子组件结合双向绑定</h1>
            <h1>num1 = {{num1}}</h1>
            <h1>num2 = {{num2}}</h1>
            <hr>
            <cpn5 :pnum1='num1' :pnum2='num1'></cpn5>
    </div>


    <template id='cpn1'>
        <div>
            <slot name='slot1'></slot>
        </div>
    </template>

    <template id='cpn2'>
        <div>
            当前计数：{{num1}}
            <button @click='add()'>+</button>
            <button @click='sub()'>-</button>
        </div>
    </template>

    <template id='cpn3'>
        <div>
            <button v-for='item in cbooks' @click='cpnClick(item)'>{{item}}</button>
        </div>
    </template>

    <template id='cpn4'>
        <div>
            <button @click='chaPar'>子访问父</button>
        </div>
    </template>

    <template id='cpn5'>
        <div>
            <h1>dnum1 = {{dnum1}}</h1>
            <input type="text" v-model='dnum1'>
            <h1>dnum2 = {{dnum2}}</h1>
            <hr>
            <h1>pnum1 = {{pnum1}}</h1>
            <input type="text" v-model='dnum2'>
            <h1>pnum2 = {{pnum2}}</h1>
        </div>
    </template>
    <script src="vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                lis: ['1','2','3'],
                num:0,
                message: 'hello world',
                issty1:true,
                issty2:true,
                iscolor:'red',
                isbackground:'blue',
                isgogo: true,
                message1:'hellow world',
                sex:'男',
                ball:[],
                books:['jquery','bootstorp','html','css','ajax'],
                num1:1,
                num2:2,
            },
            methods: {
                add() {
                    this.num++;
                },
                sub() {
                    this.num--;
                },
                changesty() {
                    this.issty1 = !this.issty1;
                    this.issty2 = !this.issty2;
                },
                isgo() {
                    this.isgogo = !this.isgogo;
                },
                cpnClick(item) {
                    console.log('cpnclick',item);
                },
                parCha() {
                    this.$refs.ref1.show()
                },
                show() {
                    console.log('我是appshow，谁想访问我？');
                }
            },

            components: {
                cpn1: {
                    template: '#cpn1',
                },
                cpn2: {
                    template: '#cpn2',
                    data() {
                        return {
                            num1:0,
                        }
                    },
                    methods: {
                        add() {
                            this.num1++;
                        },
                        sub() {
                            this.num1--;
                        }
                    },
                },
                cpn3: {
                    template: '#cpn3',
                    props: {
                        cbooks: {
                            type:Array,
                            default:['default'],
                        }
                    },
                    methods: {
                        cpnClick(item) {
                            this.$emit('cpn-click',item);
                        }
                    },
                },
                cpn4: {
                    template: '#cpn4',
                    props: {

                    },
                    methods: {
                        show() {
                            console.log('我是儿子cpn4的。show');
                        },
                        chaPar() {
                            this.$root.show();
                        }
                    },
                },
                cpn5: {
                    template: '#cpn5',
                    data() {
                        return {
                            dnum1: 1,
                            dnum2: 2,
                        }
                    },
                    props: {
                        pnum1:{
                            type:Number,
                            default:111,
                        },
                        pnum2: {
                            type:Number,
                            default:222,
                        }
                    }
                }

            }
        })
    </script>
</body>
</html>