<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sty1 {
            text-shadow: 1px 1px 3px blue;
        }
        .sty2 {
            color: red;
        }
    </style>
</head>
<body>
    <div id='app'>
        <ul>
            <li v-for='item in lis'>{{item}}</li>

            <h1>计数器：{{num}}</h1>
            <button @click='add()'>+</button>
            <button @click='sub()'>-</button>

            <h2 :class="{sty1:issty1, sty2:issty2}">{{message}}</h2>
            <button @click='changesty()'>按钮</button>

            <h2 :style="{'color':iscolor,background:isbackground}">message</h2>
            <hr>
            <label for="user" v-if='isgogo'>
                <input type="text" name="" id="user" placeholder="请输入账户">
            </label>
            <label for="email" v-else>
                <input type="text" name="" id="email" placeholder="请输入邮箱">
            </label>

            <button @click='isgo'>切换类型</button>
            <hr>
            <input type="text" v-model='message1'>
            {{message1}}
            <hr>
            <label for="man">
                <input type="radio" id="man" v-model='sex' value="男">男
            </label>
            <label for="woman">
                <input type="radio" id="woman" v-model='sex' value="女">女
            </label>  您的性别是：{{sex}}
            <hr>
            <label for="ball1">
                <input type="checkbox" value="篮球" id="ball1" v-model='ball'>篮球
            </label>
            <label for="ball2">
                <input type="checkbox" value="足球" id="ball2" v-model='ball'>足球
            </label>
            <label for="ball3">
                <input type="checkbox" value="乒乓球" id="ball3" v-model='ball'>乒乓球
            </label>  您的选择有：{{ball}}
        </ul>
    </div>

    <script src="vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                lis: ['1','2','3'],
                num:0,
                message: 'hello world',
                issty1:true,
                issty2:true,
                iscolor:'red',
                isbackground:'blue',
                isgogo: true,
                message1:'hellow world',
                sex:'男',
                ball:[],
            },
            methods: {
                add() {
                    this.num++;
                },
                sub() {
                    this.num--;
                },
                changesty() {
                    this.issty1 = !this.issty1;
                    this.issty2 = !this.issty2;
                },
                isgo() {
                    this.isgogo = !this.isgogo;
                }
            },
        })
    </script>
</body>
</html>