<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id='app'>
        <cpn :cnum1='num1' :cnum2='num2' @num1-change='num1Change' @num2-change='num2Change'></cpn>
    </div>


    <template id='cpn'>
        <div>
            <h1>cnum1={{cnum1}}</h1>
            <h1>dnum1={{dnum1}}</h1>
            <input type="text" v-model='dnum1' @input='dnum1Input'>
            <h1>cnum2={{cnum2}}</h1>
            <h1>dnum2={{dnum2}}</h1>
            <input type="text" v-model='dnum2' @input='dnum2Input'>
        </div>
    </template>

    <script src="vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 2,
            },
            methods: {
                num1Change(aaa) {
                    this.num1 = parseFloat(aaa) * 2;
                },
                num2Change(aaa) {
                    this.num2 = parseFloat(aaa) * 2;
                }
            },
            components: {
                cpn: {
                    template:'#cpn',
                    props: {
                        cnum1: {
                            type:Number,
                            default:111,
                        },
                        cnum2: {
                            type:Number,
                            default:222,
                        }
                    },
                    methods: {
                        dnum1Input(aaa) {
                            this.$emit('num1-change',this.dnum1)
                        },
                        dnum2Input(aaa) {
                            this.$emit('num2-change',this.dnum2)
                        }
                    },
                    data() {
                        return {
                            dnum1: this.cnum1,
                            dnum2: this.cnum2,
                        }
                    },

                }
            }
        })
    </script>
</body>
</html>