<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		/* body {
			background: url(/public/img/girl.jpg) no-repeat;
			background-size: 100%;
		} */
		.box {
			width: 300px;
			margin: 180px auto;
			text-align: center;
			color: rgb(255, 11, 255);
		}
		.num {
			font-size: 80px;
		}
	</style>
</head>
<body>
	<div class="box">
		<h2>
			<div class="num">404</div> <br>
			你来到了没有知识的荒原 🙊
		</h2>
	</div>
</body>
</html>